<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>Menu Searcher</title>
</head>
<body>
    <div class="container" ng-controller="NarrowItDownController as nidc">
        <h1>Menu Searcher</h1>
        <input type="text" ng-model="nidc.searchTerm">
        <button ng-click="nidc.narrowItDown()">Narrow It Down For Me!</button><br>
        <found-items found="nidc.found" remove-item="nidc.removeItem(index)"
                     is-empty-list="nidc.isEmptyList()"></found-items>
    </div>
    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>